* {
  font-family: "Lato", sans-serif;
  background-color: #121212;
}

h1 {
  color: white;
  margin-left: 100px;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: medium;
  color: white;
  background: rgb(92, 39, 215);
  background: linear-gradient(
    90deg,
    rgba(92, 39, 215, 1) 0%,
    rgba(127, 62, 255, 1) 100%
  );
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 20px;
  border-radius: 20px;
  margin-left: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-container {
  padding: 1em 100px;
  display: flex;
}

input[type="text"] {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  background-color: white;
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
}

button {
  padding: 10px 10px;
  border-radius: 0 20px 20px 0;
  outline: none;
  border: none;
  background: rgb(231, 71, 179);
  background: linear-gradient(
    63deg,
    rgba(231, 71, 179, 1) 0%,
    rgba(254, 100, 107, 1) 100%
  );
}

button span {
  color: white;
  background-color: transparent;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  margin-top: 1em;
}

.gif-container {
  padding: 1em 100px;
  column-count: 4;
}

.gif-container img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 20px;
}

@media (max-width: 800px) {
  h1 {
    margin-left: 0.5em;
  }

  h2 {
    margin-left: 1em;
  }

  .loading {
    width: 100%;
  }

  .loading {
    width: 100%;
  }

  .search-container {
    padding: 1em;
  }

  .gif-container {
    column-count: 3;
    padding: 1em;
  }
}

@media (max-width: 600px) {
  h1 {
    margin-left: 0.5em;
  }

  h2 {
    margin-left: 1em;
  }

  .loading {
    width: 100%;
  }

  .search-container {
    padding: 1em;
  }

  .gif-container {
    column-count: 2;
    padding: 1em;
  }
}

@media (max-width: 400px) {
  h1 {
    margin-left: 0.5em;
  }

  h2 {
    margin-left: 1em;
  }

  .loading {
    width: 100%;
  }

  .search-container {
    padding: 1em;
  }

  .gif-container {
    column-count: 1;
    padding: 1em;
  }
}
